.form {
  margin-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.571);
}

.form-field-width {
  width: 30%;
}

.back-list-btn {
  margin-right: 75px;
  margin-bottom: 20px;
}

.add-que-btn {
  margin-left: 75px;
  margin-bottom: 20px;
}
