<button
  mat-fab
  color="warn"
  aria-label="Example icon button with a delete icon"
  class="add-form"
  [routerLink]="['/add-form']"
>
  <mat-icon>add</mat-icon>
</button>

<div *ngFor="let form of questionsData; let i = index">
  <div class="form">
    <h1 class="form-name">{{ form.formName }}</h1>

    <button mat-icon-button class="button-icon" (click)="editFormDetails(i)">
      <mat-icon>edit</mat-icon>
      <span class="icone-text">edit</span>
    </button>

    <button
      mat-icon-button
      class="button-icon"
      (click)="deleteFormDetails(i, '0ms', '0ms')"
    >
      <mat-icon>delete</mat-icon>
      <span class="icone-text">delete</span>
    </button>

    <button mat-icon-button class="button-icon" (click)="previewFormDetails(i)">
      <mat-icon>preview </mat-icon>
      <span class="icone-text">preview</span>
    </button>
  </div>
</div>
