/* You can add global styles to this file, and also import other style files */

html,
body {
  background-image: linear-gradient(
    to bottom right,
    #33475b,
    #0033cc,
    #ff77cc,
    rgb(255, 122, 89)
  );

  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;

  background-size: cover;

  overflow-y: auto;
  height: 100%;
  margin: 0;
}
