/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    #33475b,
    #0033cc,
    #ff77cc,
    rgb(255, 122, 89)
  );
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
