<div class="form">
  <h1>{{ questionsData.formName }}</h1>

  <form [formGroup]="createForm">
    <ng-container
      *ngFor="let formData of questionsData.questions; let i = index"
    >
      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'text'"
      >
        <mat-label>{{ formData.questions }}</mat-label>
        <input
          formControlName="text"
          matInput
          [placeholder]="formData.questions"
        />

        <mat-error *ngIf="formData.validations"
          >{{ formData.questions }} is required</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'number'"
      >
        <mat-label>{{ formData.questions }}</mat-label>
        <input
          formControlName="number"
          minlength="{{ formData.minValue }}"
          matInput
          numbersRequire
          maxlength="{{ formData.maxValue }}"
          [placeholder]="formData.questions"
        />

        <mat-error *ngIf="createForm.get('number')?.hasError('required')"
          >{{ formData.questions }} is Required</mat-error
        >
        <mat-error *ngIf="createForm.get('number')?.hasError('minlength')"
          >Minimum length is {{ formData.minValue }}</mat-error
        >
        <mat-error *ngIf="createForm.get('number')?.hasError('maxlength')"
          >Maximum length is {{ formData.maxValue }}</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'dropdown'"
      >
        <mat-label>{{ formData?.questions }}</mat-label>
        <select
          matNativeControl
          formControlName="dropdown"
          required
          [placeholder]="formData.questions"
        >
          <option
            *ngFor="let form of formData.option"
            value="{{ form.option }}"
          >
            {{ form.option }}
          </option>
        </select>
        <mat-error *ngIf="formData.validations"
          >{{ formData.questions }} is required</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'textarea'"
      >
        <mat-label>{{ formData.questions }}</mat-label>
        <textarea
          formControlName="textarea"
          matInput
          [placeholder]="formData.questions"
        ></textarea>
        <mat-error *ngIf="formData.validations"
          >{{ formData.questions }} is required</mat-error
        >
      </mat-form-field>

      <div>
        <mat-radio-group
          *ngIf="formData.type === 'radio'"
          aria-label="Select an option"
        >
          <mat-radio-button value="">{{
            formData.inputField1
          }}</mat-radio-button>
          <mat-radio-button value="">{{
            formData.inputField2
          }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'checkbox'"
      >
        <mat-label>{{ formData.questions }}</mat-label>
        <mat-select
          multiple
          [placeholder]="formData.questions"
          formControlName="checkbox"
        >
          <mat-option value="{{ formData.inputField1 }}">{{
            formData.inputField1
          }}</mat-option>
          <mat-option value="{{ formData.inputField2 }}">{{
            formData.inputField2
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formData.validations"
          >{{ formData.questions }} is required</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="formData.type === 'date'"
      >
        <mat-label>{{ formData.questions }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="MM/DD/YYYY"
          formControlName="date"
        />
        <mat-error *ngIf="formData.validations"
          >{{ formData.questions }} is required</mat-error
        >
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>

    <div class="submit-btn">
      <button class="back-btn" mat-raised-button [routerLink]="['/']">
        Back
      </button>
      <button mat-raised-button (click)="onSubmit()" color="primary">
        Submit
      </button>
    </div>
  </form>
</div>
