.form {
  margin-top: 20px;
  text-align: center;
  background-color: var(--offWhite);
  height: 50%;
  width: 50%;
  border-radius: 5px;
}

.form-field {
  margin: 10px;
}

.home-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.addQuestionsForm {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.back-list-btn {
  margin: 20px;
}

.questions {
  background-color: var(--red);
  color: var(--white);
  margin: 10px;
  border-radius: 5px;
  font-size: larger;
}

.question-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-text {
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.button {
  text-align: right;
}

.add-option-btn {
  margin: 10px 0 10px 0;
}
