<div class="flex">
  <form class="form" [formGroup]="addQuestionsForm">
    <h2>Add Questions</h2>
    <mat-form-field appearance="outline" class="form-field-width">
      <mat-label>Questions</mat-label>
      <input formControlName="questions" matInput placeholder="Questions" />
      <mat-error>Questions is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select required formControlName="type">
        <mat-option *ngFor="let type of typeList" [value]="type">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <mat-error>Type is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Validations</mat-label>
      <mat-select multiple formControlName="validations">
        <mat-option
          *ngFor="let validations of validationsList"
          [value]="validations"
          >{{ validations.value }}</mat-option
        >
      </mat-select>
      <mat-error>Validations is required</mat-error>
    </mat-form-field>
    <div>
      <button
        class="back-list-btn"
        (click)="addQuestions()"
        mat-raised-button
        color="warn"
      >
        Add Questions to Form
      </button>
    </div>
  </form>

  <button
    [routerLink]="['/']"
    mat-fab
    color="warn"
    class="home-button"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>home</mat-icon>
  </button>

  <div class="form">
    <h2>No Questions Available !</h2>
    <div class="questions" *ngFor="let questions of addQuestionsFormArray">
      {{ questions }}
    </div>
  </div>
</div>
